{% extends "blog/base.html "%}
{% load static %}
{% block header %}
  {% include "blog/dashboard_header.html" %}
{% endblock header %}
{% block content %}
    <div class="container author-container mt-2">
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12 authors p-0 m-0">
                <div class="author-operation w-100 d-flex justify-content-between pt-2 pl-2 pr-2 pb-0">
                    <div class="add-author">
                        <a href="{% url "add_catagories" %}">Add Catagory</a>
                    </div>
                    <div class="search-activity search-author mb-2">
                        <form method="post" action="" novalidate class="d-flex flex-row">
                            {% csrf_token %}
                            <input type="text" name="search" class="form-control" placeholder="Search Catagory">
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--search-author-->
                </div>
                <!--author-operation-->

                <div class="author-table w-100 p-2">
                    <table class="table table-hover table-bordered table-striped text-center table-responsive-sm table-responsive-md">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Catagory</th>
                                <th>Posts</th>
                                <th colspan="2">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for catagory in catagories %}
                            <tr>
                                <td>{{catagory.id}}</td>
                                <td>{{catagory.catagory}}</td>
                                <td>{{catagory.total_posts}}</td>
                                <td colspan="2">
                                    <a href="{% url "delete_catagory" catagory.id  %}" class="btn btn-md btn-danger">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--author-table-->

                <div class="pagination d-flex justify-content-center mt-3 mb-3 p-2">
                {% if catagories.has_previous %}
                    <a href="?page={{catagories.previous_page_number}}" class="prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                {% endif %}
                {% if catagories.has_next %}    
                    <a href="?page={{catagories.next_page_number}}" class="next "><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                {% endif %}
                </div>
                <!--pagination-->

            </div>
            <!--authors-->
        </div>
        <!--row-->
    </div>
    <!--author-container-->
{% endblock content %}