 <div class="container  header">
        <div class="row">
            <div class="col-sm-12  col-md-6 col-lg-6 logo-box p-0">
                <div class="logo p-2 pl-3">
                    <h1 class="m-0">DTECHO</h1>
                </div>
                <!--logo-->
            </div>
            <!--logo-box-->
            <div class="col-sm-12 col-md-6 col-lg-6 social-item-box">
                <div class="social-items d-flex justify-content-end">
                    <a href="https://github.com/ZainInam699"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/xaini_xaini"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/dtechosolutions/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCZMiTbr6ycRCU7OUGERtAUw"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <!--social-item-box-->
        </div>
        <!--row-->
    </div>
    <!--header-->

    <div class="container navigation  mt-2  ">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0 nav header_navigation">
                <div class="nav_items">
                    <ul>
                        <li><a href="{% url 'index' %}" >All</a></li>
                        {% for navbar in navs %}
                        <li><a href="{% url 'post_catagory' navbar.id %}" class="{{navbar.catagory}}">{{navbar.catagory}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!--nav-items-->

                <div class="registration-btn">
                    <ul>
                        {% if  not request.user.is_authenticated %}
                        <li><a href="{% url 'signup' %}">Sign up</a></li>
                        <li><a href="{% url 'login' %}">Sign in</a></li>
                        {% else %}
                        <li class="profile"><a href="{% url 'posts' %}">Profile</a></li>
                        {% endif %}
                    </ul> 
                </div>
                <!--registration-btn-->

            </div>
            <!--nav-->
        </div>
        <!--row-->
    </div>
    <!--navbar-->