<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- App Css -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="assets/css/media.css">
    <!--FontAwesome Css-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>
    <div class="container d-flex justify-content-between align-items-center flex-column" style="height:100vh;">
        <div class="container  header">
            <div class="row">
                <div class="col-sm-12  col-md-6 col-lg-6 logo-box p-0">
                    <div class="logo p-2 pl-3">
                        <h1 class="m-0">DTECHO</h1>
                    </div>
                    <!--logo-->
                </div>
                <!--logo-box-->
                <div class="col-sm-12 col-md-6 col-lg-6 social-item-box">
                    <div class="social-items d-flex justify-content-end">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <!--social-item-box-->
            </div>
            <!--row-->
        </div>
        <!--header-->

        <div class="container login-container ">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 login d-flex justify-content-center">
                    <div class="login-box p-3">
                        <div class="login-title w-100 text-center">
                            <h1>Login</h1>
                        </div>
                        <form method="post" action="" novalidate class="d-flex justify-content-center flex-column">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" class="form-control" id="password" placeholder="Password" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                            </div>
                            <div class="form-group text-center mt-4">
                                <button type="submit" class="login-btn">Login</button>
                            </div>
                        </form>
                    </div>
                    <!--login-box-->
                </div>
                <!--login-->
            </div>
            <!--row-->
        </div>
        <!--login-container-->

        <div class="container footer-container text-center p-0 mt-2">
            <p class="m-0 p-2">&copy; Copyright 2021 <strong>DtechoSolutions</strong></p>
        </div>
        <!--footer-->

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--App Js -->
    <script type="text/javascript" src="assets/js/app.js"></script>
</body>

</html>